html body {
  --primary400: #000000;
  --primary500: #222222;
  --primary600: #444444;
  --primary700: #666666;
}

[data-theme='dark'] {
  --primary400: #ffffff;
  --primary500: #dddddd;
  --primary600: #bbbbbb;
  --primary700: #999999;
}
